body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 220, 220);
}

#gameArea {
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    background-color: white;
    border-radius: 10px;
}

#player {
    width: 50px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 225px;
    left: 225px;
    border-radius: 10px;
}

#hjul1 {
    width: 10px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    margin-left: -10%;
    margin-top: 10%;
}

#hjul2 {
    width: 10px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    margin-left: 90%;
    margin-top: 10%;
}

#hjul3 {
    width: 10px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    margin-left: -10%;
    margin-top: 150%;
}

#hjul4 {
    width: 10px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    margin-left: 90%;
    margin-top: 150%;
}

#point {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
}

#scorePoeng {
    width: 100%;
}

#katt {
    width: 32%;
    position: absolute;
    border-radius: 15px;
}

#bombe {
    display: flex;
    align-items: flex-start;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
}

#bombeSpark {
    width: 70%;
    margin-left: 50%;
    position: absolute;
    margin-top: -20%;
}

#score {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    -webkit-text-fill-color: #299100;
}

#youWin {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    -webkit-text-fill-color: #299100;
}

#restartGame {
    position: relative;
    margin: 20px auto;
}
